<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}

</head>
<body>
   {{>navbar}}

   <!-- main header -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="main_header_left align-items-center">
                    <figure class="errimg">
                        <img src="/image/404.png" alt="rahul" title="errorImage" class="img-fluid">
                    </figure>
                    <p> Welcome to Rahul developer World</p>
                    <h1 style="text-align: center;"> {{errorMsg}}</h1>
                    <a href="/"><button>Go Back</button></a>
                </div>
            </div>

        </div>
    </div>
   <!-- footer code -->
{{>footer}}
</body>
</html>