<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}

</head>
<body>
   {{>navbar}}

   <!-- main header -->
   <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="/image/profile.png" alt="Rahul" title="Rahul Developer">
                        </figure>
                    </div>

                    <!-- right side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Wellcome to Weather app</p>
                        <h1>I AM A <span class="textcolor">Mern Stack Developer</span> Traveler And A Influencer</h1>
                        <a href="#"><button>About me</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
   </div>
   <!-- footer code -->
   {{>footer}}
</body>
</html>