<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
    
    {{>navbar}}

   <!-- main header -->
   <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="container-fluid main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                        <p id="temp_err"></p>
                    </form>
                </div>

                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Wednusday</p>
                        <p id="today_data">03 JEN</p>
                    </div>
                    <div class="main_layer ">
                        <p id="city_name">Get Output Here</p>
                        <p id="prb"> </p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_value">0</span><sup>o</sup>C</p>
                            <p id="temp_status"><i class='fa-solid fa-cloud' style='color: #9acfda'></i></p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
   </div>
   <!-- footer code -->
{{>footer}}

<script src="/js/main.js"></script>
<script>
    const curDay = document.getElementById("day");
    const today_data = document.getElementById("today_data");
    const getCurrentDat = () =>{
                const days = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
                let currentTime = new Date();
                let day = days[currentTime.getDay()];
                return day;
            };
    const getCurrentTime = ()=>{
                const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                
                var now =new Date();
                var month = months[now.getMonth()];
                var day = now.getDate();
                if(day<10){
                    day ="0"+day;
                }else{
                    day=day;
                }


                return `  ${day} ${month}`
            };        
     curDay.innerHTML= getCurrentDat();
     today_data.innerHTML=  getCurrentTime();      
</script>
</body>
</html>